@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Outfit:wght@400;700&family=Roboto:wght@300&display=swap');

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


body{
    background-color: hsl(204, 43%, 93%);
    font-family: "Karla";
    display: flex;
    justify-content: center;
    align-items: center;
}

#main{
    display: block;
    width: 500px;
    height: 400px;
    background-color: aliceblue;
    border-radius: 5px;
}
#upper{
    height: 50%;
}
.flex{
    display: flex;
    flex-direction: row;
    height: 50%;
}
#lower1{
    background-color: hsl(179, 62%, 43%);
    width: 50%;
}
#lower2{
    background-color: hsl(179, 56%, 60%);
    width: 50%;
}

h4{
    color: hsl(179, 62%, 43%);
}